
/*Importált betűtípusok*/
@font-face {
    font-family: "Marck";
    src: url(/css/fonts/Marck_Script/MarckScript-Regular.ttf);
}

@font-face {
    font-family: "Elite";
    src: url(/css/fonts/Special_Elite/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(/css/fonts/Roboto/Roboto-Regular.ttf);
}

/*Általános kiterjedő konfig */
body{
    --bs-body-bg: none;
    margin: 0px;
    --bs-body-line-height: none;
}

html{
    font-family: "Roboto";
    color: grey;
    max-width: 1200px;
    background-color: rgba(255, 255, 0, 0.2);
}

.title h1 {
    font-family: "Elite";
    color: rgb(116, 41, 41);
    font-size: 50px;
    text-align: center;
    margin: 60px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 1.2;
}

h2{
    font-family: "Marck";
    color: rgba(47, 189, 47, 0.719);

}

/*Felső menü konfig*/
.topMenu{
    font-family: "Elite";
    font-size: 48px;
    text-align: center;
    border:solid 2px black;
    border-radius: 25px;
    padding: 15px;
    display: block;
}

.topMenuTd{
    width: 25%;
    text-align: center;
}

.topMenuTable a:link{
    color: rgb(255, 255, 0);
    background-color: rgb(116, 41, 41);
    text-decoration: none;
}

.topMenuTable a:visited {
    color: rgb(255, 255, 0);
    background-color: rgb(116, 41, 41);
    text-decoration: none;
}

.topMenuTable a:hover {
    color: rgb(116, 41, 41);
    background-color:  rgb(255, 255, 0);
}

.topMenu:hover{
    background-color:  rgb(255, 255, 0);
 }

/*Sales (Akciók) konfig*/
.salesImg {
    width: 70%;
    margin-left: 50px ;

}

.salesContent{
    border:solid 1px black;
    background-color: rgba(255, 255, 0, 0.4);
    font-weight: 600;
    width: 680px;
    text-align: center;
    box-shadow: 3px 3px 20px;
    margin: 1%;
    border-radius: 10px;
    max-width: 80%;
    min-width: 60%;
}


.salesContentData h2{
    text-align: center;
    font-size: 40px;
    line-height: 15px;
    font-weight: bold;
    margin: 15px;
    padding: 15px;
}



/*Menu (Étlap) konfig*/

.oneRow{
    background-color: rgba(255, 255, 0, 0.5);
}

.twoRow{
    background-color: rgba(47, 189, 47, 0.5);
    padding: 0px;
    font: bold;
}


.price{
    text-align: right;
}


.menuTable table{
    min-width: 1150px;
    margin: 10px;
    border: none;
    padding: 0;
    border-spacing: 0;
}




.menuTable th{
    border-bottom: solid 1px black;
    font-weight: bold;
    font-size: 20px;
    margin: 200px 0 0 0;
    border: solid 0px;
    padding: 0 0 0 50%;
}

.menuTable td{
    padding: 0;
    border-bottom: dotted 1px black;
    font-weight: bold;
    font-size: 24;
    font-size: 20px;
    margin: 0;
    border: solid 0px ;
    padding: 0;
    font-family: "Roboto";
}

.menuContent h2{
    text-align: center;
    font-size: 40px;
    line-height: 15px;
    font-weight: bold;
    margin: 15px;
    padding: 15px;
}

.menuContent img{
    width: 50px;
}

/*Contact (Elérhetüőségek) konfig*/

.contactContent h2{
    font-size: 40px;
    line-height: 15px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*Order (Rendelés) konfig*/
.orderForm{
    background-color:rgba(47, 189, 47, 0.719) ;
    box-shadow: 3px 3px 20px;
    margin: 1%;
    border-radius: 10px;
    font-family: "Roboto";
}

.orderForm legend{
    text-align: center;
    font-weight: bold;
}

.orderUserData label{
    font-weight: bold;
    font-size: large;
    margin-top: 10px ;
}

.productTitle{
    font-weight: bold;
    font-size: large;
    margin-top: 10px ;
}

.orderButton{
    margin: auto;
    width: 20%;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: large;
}

.orderPrice{
    text-align: center;
    margin: 25px 0px;
    font-size: x-large;
    font-weight: bold;
    
}