@font-face {
    font-family: "Marck";
    src: url(/css/fonts/Marck_Script/MarckScript-Regular.ttf);
}

@font-face {
    font-family: "Elite";
    src: url(/css/fonts/Special_Elite/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(/css/fonts/Roboto/Roboto-Regular.ttf);
}

html{
    font-family: "Roboto";
    color: grey;
    max-width: 1200px;
}

h1 {
    font-family: "Elite";
    color: rgb(116, 41, 41);
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: "Marck";
    color: rgba(47, 189, 47, 0.719);
    font-size: 40px;
    line-height: 15px;
}

.salesImg {
    height: 200px;

}

.salesContent{
    border:solid 1px black;
    background-color: rgba(255, 255, 0, 0.4);
    font-weight: 600;
    min-width: 1000px;
    text-align: center;
    box-shadow: 3px 3px 20px;
    margin: 1%;
    border-radius: 10px;
    max-width: 80%;
}

.topMenu{
    font-family: "Elite";
    font-size: 48px;
    min-width: 400px;
    text-align: center;
    color: rgb(255, 255, 0);
    border:solid 2px black;
    border-radius: 25px;
    background-color: rgba(116, 41, 41, 0.35);
}

.salesH2{
    text-align: center;
}

.oneRow{
    background-color: rgba(255, 255, 0, 0.5);
}

.twoRow{
    background-color: rgba(47, 189, 47, 0.5);
    padding: 0px;
    font: bold;
}
.menuTable{
    min-width: 1200px;
}

.menuTd{
    padding: 0;
    border-bottom: dotted 1px black;
    font-weight: bold;
    font-size: 24;
}

.price{
    text-align: center;
}

.menuTh{
    border-bottom: solid 1px black;
    font-weight: bold;
    font-size: 20px;
}

.menuIcon{
    height: 50px;
}

.menuH2{
    margin: 20px 5px;
}